.father{
    display: flex;
    margin: 10px;

    text-align: center;
    justify-content: center;
}
.upper-box{
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 400px;
    height: 100px;

    text-align: center;
    justify-content: center;
}

.daughter{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;

    text-align: center;
    justify-content: space-between;
}

.father-in-law{
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    width: 120px;

    text-align: center;
    justify-content: center;
}

.lower-box{
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 400px;
    height: 250px;

    text-align: center;
    justify-content: center;

}


