h1{
    background: deeppink;
    color: wheat;
}
img{
    width: 200px;
}

h2{
    background: mistyrose;
    color: black;
}

p{
    background: pink;
    color: darkgray;
}

ul{
    background: antiquewhite;
    color: deeppink;
}